name: GitHub Pages

on:
  push:
    branches:
      - main
      - actions-test
  pull_request:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      # - name: Cache dependencies
      #   uses: actions/cache@v2
      #   with:
      #     path: ???
      #     key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-node-
      
      - run: yarn global add @vue/cli-service
      - run: yarn run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
